[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
django-redis = "*"
redis = "*"
celery = "*"
pillow = "*"
django-channels = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
django-celery-email = "*"
drf-yasg = "*"
pytest-mock = "*"
django-cors-headers = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
